{{!-- <div id="lista de productosd">
    <div id="agregar producto">
        <h1>Agregar un producto: </h1>
        <input id="name" type="text" placeholder="Nombre" name="name">
        <div>cantidad</div>
        <div>total</div>
    </div>
    <div id="producto">
        <div id="nombre"></div>
        <div id="eliminar"></div>
    </div>
</div> --}}
