<div>
    <input id="name" type="text" placeholder="Nombre" name="name">
    <input id="email" type="email" placeholder="Correo" name="email">
    <input id="password" type="password" placeholder="Contrasenia" name="password">
    <button id="enviar">Enviar</button>
</div>
<script src="./js/register.js"></script>